header {
    background-color: #F8F9FA;
    padding: 20px;
}

ul {
    list-style: none;
    padding-inline-start: 0;
}

ul li {
    width: auto;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}